<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.com.myviewset">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:name=".app.AppApplication"
        android:icon="@mipmap/card_detail_pic_no_gps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RollNumberActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".WaterViewActivity"/>
        <activity android:name=".NewLineActivity"/>
        <activity android:name=".NewLineDataActivity"/>
        <activity android:name=".BannerActivity"/>
        <activity android:name=".ClassifyActivity"/>
    </application>


</manifest>